@import "fn.styl"

.wid
	width:1200px;
	margin:0 auto;

.public-a
	width 100%
	height 100%
	display block
	
back(path)
	background url(../img/path) center top no-repeat
	

.big-tabs
	border-bottom 1px solid #d8d8d8
	padding 30px 0 20px
	margin-bottom 75px
	span
		min-width 80px
		text-align center
		heightL(40px)
		display inline-block
		padding 0 15px
		color #4a4a4a
		background #e8dada
		font-size 14px
		border-radius 6px
		margin 0 2px
		cursor pointer
		transition .3s
		&.acti
			background #d6b9bc
			color #fff
		&:hover
			background #d6b9bc
			color #fff
			

.item-public
	.box
		ul
			li
				width 658px
				height 458px
				border 1px solid #d8d8d8
				float left
				margin-bottom 75px
				&:nth-child(even)
					float right
				.pic
					width 100%
					height 365px
					overflow hidden
					margin-bottom 20px
					a
						&:hover img
							transform scale(1.1)
							opacity .85
						img
							width 100%
							min-height 100%
							transition .3s
				.text
					padding-left 20px
					span
						font-size 14px
						color #4a4a4a
						line-height 1.4
						display block
						margin-bottom 5px
					a
						font-size 20px
						color #4a4a4a
						line-height 1.4
						font-weight bold
						&:hover
							color #ccc 
							text-decoration underline
							


.article-public
	padding-top 50px
	.top-box
		line-height 1.4
		span
			font-size 16px
			color #4a4a4a
			display block
			margin-bottom 5px
		h2
			font-size 30px
			color #4a4a4a
			margin-bottom 35px
			font-weight bold
	p
		font-size 16px
		color #4a4a4a
		text-align justify
		line-height 1.5
		margin-bottom 20px
	img
		width 100%
		margin-bottom 40px


.map
	img
		width 100%
		

.map-info
	margin 100px auto
	border-top 2px solid #9b9b9b
	ul
		li
			width 100%
			border-bottom 1px solid #9b9b9b
			padding 15px 0
			display table			
			span
				font-size 20px
				color #4a4a4a
				line-height 1.4
				width 20%
				display inline-block
				display table-cell
				padding-right 10px
				box-sizing border-box
				vertical-align middle
				&:nth-child(2)
					width 40%
					padding-left 60px
				&.s1
					padding-left 60px
					background url("../img/map.jpg") left center no-repeat


.container-public
	margin 100px auto
	overflow hidden
	box-sizing border-box

.sidebar-public
	width 175px
	float left
	margin-left 65px
	h3
		font-size 25px
		color #4a4a4a
		line-height 1.4
		margin-bottom 35px
	.box
		a
			display block
			font-size 20px
			color #4a4a4a
			line-height 1.4
			margin-bottom 20px
			&:hover
				color #f00				
			

.show-public
	width 1050px
	float right
	.big-pic
		margin-bottom 40px
		img
			width 100%
	.text-box
		p
			font-size 16px
			line-height 22px
			text-align justify
			color #4a4a4a
			margin-bottom 20px

.logistics
	h3
		font-size 25px
		color #4a4a4a
		line-height 1.4
		margin-bottom 35px
	.text
		color #4a4a4a
		font-size 16px
		line-height 1.7
		text-align justify
		strong
			display block
			margin-bottom 35px
		p
			margin-bottom 5px
			&.mb
				margin-bottom 50px